<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434533815738-97uhvuntjtr9mv9vbfn5cvrpmbh238r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434533815738-97uhvuntjtr9mv9vbfn5cvrpmbh238r8</string>
	<key>API_KEY</key>
	<string>AIzaSyBHbX_Cqyngc42QOV_fYRo7sfRw1JwW6mo</string>
	<key>GCM_SENDER_ID</key>
	<string>434533815738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>yourintern-e1e32</string>
	<key>STORAGE_BUCKET</key>
	<string>yourintern-e1e32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434533815738:ios:97933e99539428b5373983</string>
</dict>
</plist>